.btn {
    border-radius: 0px;
}

.CssBtnSearch {
    font-size: 10pt;
    border: 1px #a5c8e5 !important;
    height: 30px;
    width: 40px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: #a5c8e5 url(../Images/search.png) no-repeat scroll 5px center;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    border-radius: 3px;
}

    .CssBtnSearch:hover {
        width: 40px;
        font-size: 10pt;
        border: 1px #a5c8e5 !important;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf url(../Images/search.png) no-repeat scroll 5px center;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }


.CssBtnAdvancedSearch {
    font-size: 10pt;
    border: 1px #BDDAEA !important; 
    height: 30px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: #BDDAEA url(../Images/search.png) no-repeat scroll 5px center;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    border-radius: 3px;
}

    .CssBtnAdvancedSearch:hover {
        font-size: 10pt;
        border: none;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf url(../Images/search.png) no-repeat scroll 5px center;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }

.CssBtnShowAll {
    font-size: 10pt;
    border: none;
    height: 30px;
    width: 98px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: navy url(../Images/showall.png) no-repeat scroll 5px center;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

    .CssBtnShowAll:hover {
        border: none;
        width: 98px;
        font-size: 10pt;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf url(../Images/showall.png) no-repeat scroll 5px center;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    }

.CssBtnRegular {
    border: none;
    width: 98px;
    font-size: 10pt;
    height: 30px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: green url(../Images/addnew.png) no-repeat scroll 5px center;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

    .CssBtnRegular:hover {
        border: none;
        width: 98px;
        font-size: 10pt;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf url(../Images/addnew.png) no-repeat scroll 5px center;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    }


.CssBtnShowAllCol {
    width: 98px;
    font-size: 10pt;
    height: 30px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: url(Images/showall.png) no-repeat scroll 5px center;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

    .CssBtnShowAllCol:hover {
        width: 98px;
        font-size: 10pt;
        border: none;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    }


.CssBtnLogin {
    border: 1px #4BB1E1 !important;
    background-color: #4BB1E1;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
    border-radius: 3px;
    color: white;
    height: 27px;
    text-decoration: none;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

    .CssBtnLogin:hover {
        width: auto;
        font-size: 10pt;
        border: 1px #72D1FE !important;
        height: 27px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #72D1FE;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }


.CssBtnRegister {
    border: 1px #4BB1E1 !important;
    background-color: #4BB1E1;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
    border-radius: 3px;
    color: white;
    height: 27px;
    text-decoration: none;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

    .CssBtnRegister:hover {
        width: auto;
        font-size: 10pt;
        border: 1px #4BB1E1 !important;
        height: 27px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #9BB9E9;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }


.CssBtnSave {
    border: 1px #297BC1 !important;
    background-color: #297BC1;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
    border-radius: 3px;
    color: white;
    height: 30px;
    text-decoration: none;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

    .CssBtnSave:hover {
        width: auto;
        font-size: 10pt;
        border: 1px #297BC1 !important;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #299BC1;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }


.CssBtnSubmit {
    background-color: #2777B9;
    border: 1px #2777B9 !important;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
    border-radius: 3px;
    color: white;
    height: 30px;
    text-decoration: none;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

    .CssBtnSubmit:hover {
        width: auto;
        font-size: 10pt;
        border: 1px #2777B9 !important;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e73bf;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }


.CssBtnPost {
    background-color: #2777B7;
    border: 1px #2777B7 !important;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
    border-radius: 3px;
    color: white;
    height: 30px;
    text-decoration: none;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

    .CssBtnPost:hover {
        width: auto;
        font-size: 10pt;
        border: 1px #2777B7 !important;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e53bf;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }


.CssBtnClear {
    font-size: 10pt;
    border: solid 1px #F6978A !important;
    border-bottom: solid 2px #EB1357 !important;
    height: 30px;
    color: #F6978A;
    text-decoration: none;
    cursor: pointer;
    background-color: #FFFFFF;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    border-radius: 3px;
}

    .CssBtnClear:hover {
        font-size: 10pt;
        border: solid 1px #F6978A;
        border-bottom: solid 2px #EB1357;
        height: 30px;
        color: #F1378A;
        text-decoration: none;
        cursor: pointer;
        background: #FFFAAA;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }


.CssBtnUpdate {
    background-color: #01B49E;
    font-size: 10pt;
    border: 1px #01B49E !important;
    height: 30px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    border-radius: 3px;
}

    .CssBtnUpdate:hover {
        font-size: 10pt;
        border: 1px #99B99E !important;
        height: 30px;
        color: white;
        text-decoration: none;
        cursor: pointer;
        background: #99B99E;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }



.CssBtnSaveMore {
    width: 98px;
    font-size: 10pt;
    border: none;
    height: 30px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: #3e93bf;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

    .CssBtnSaveMore:hover {
        width: 98px;
        font-size: 10pt;
        border: none;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    }

.CssBtnDelete {
    font-size: 10pt;
    border: solid 0px #98CE3B !important;
    border-bottom: solid 2px #98CE3B !important;
    height: 30px;
    color: #BCDE7E;
    text-decoration: none;
    cursor: pointer;
    background-color: #FFFFFF;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    border-radius: 3px;
}

    .CssBtnDelete:hover {
        font-size: 10pt;
        border: solid 0px #98CE3B !important;
        border-bottom: solid 2px #98CE3B !important;
        height: 30px;
        color: #BCDE7E;
        text-decoration: none;
        cursor: pointer;
        background-color: #AAAFFF;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }

.CssBtnAddNew {
    font-size: 10pt;
    border: 1px #58626E !important;
    height: 30px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    background: #58626E;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    border-radius: 3px;
}

    .CssBtnAddNew:hover {
        font-size: 10pt;
        border: 1px #58626E !important;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #51326E;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }

.CssBtnAddMore {
    width: 98px;
    font-size: 10pt;
    border: none;
    height: 30px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    background: Gray;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

    .CssBtnAddMore:hover {
        width: 98px;
        font-size: 10pt;
        border: none;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    }

.CssBtnConfirm {
    font-size: 10pt;
    border: 1px #B7BCC2 !important;
    height: 30px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    background: #B7BCC2;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    border-radius: 3px;
}

    .CssBtnConfirm:hover {
        font-size: 10pt;
        border: 1px #B7BCC2 !important;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #B9BCC9;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }



.CssBtnPrintAll {
    font-size: 10pt;
    border: None;
    background-color: #BDDAEA;
    color: #fff;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    height: 30px;
    cursor: pointer;
    margin-left: 0px;
    width: 98px;
}

    .CssBtnPrintAll:hover {
        width: 98px;
        font-size: 10pt;
        border: none;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    }

.CssBtnCancel {
    font-size: 10pt;
    border: 1px #EB6553 !important;
    background-color: #EB6553;
    color: #fff;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    height: 30px;
    cursor: pointer;
    margin-left: 0px;
    border-radius: 3px;
}

    .CssBtnCancel:hover {
        font-size: 10pt;
        border: 1px #EB6553 !important;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #EB9853;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }


.CssBtnPrint {
    font-size: 10pt;
    border: 1px #9FD148 !important;
    height: 30px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: #9FD148 url(../Images/print.png) no-repeat scroll 2px center;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    border-radius: 3px;
}

    .CssBtnPrint:hover {
        font-size: 10pt;
        border: 1px #9FD989 !important;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #9FD989 url(../Images/print.png) no-repeat scroll 2px center;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }

.CssBtnPrintAll {
    width: 98px;
    font-size: 10pt;
    border: none;
    height: 30px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: gray url(../Images/print.png) no-repeat scroll 5px center;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

    .CssBtnPrintAll:hover {
        width: 98px;
        font-size: 10pt;
        border: none;
        height: 30px;
        color: gray;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf url(../Images/print.png) no-repeat scroll 5px center;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    }


.CssBtnShow {
    font-size: 10pt;
    border: 1px #72D1FE !important;
    height: 30px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: #72D1FE;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    border-radius: 3px;
}

    .CssBtnShow:hover {
        font-size: 10pt;
        border: 1px #72D1FE !important;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #79D8FE;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }


.CssFile_Upload {
    font-size: 10pt;
    border: solid 0px #9BD0E9 !important;
    border-bottom: solid 2px #9BD0E9 !important;
    height: 30px;
    color: #F6978A;
    text-decoration: none;
    cursor: pointer;
    background-color: #FFFFFF;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    border-radius: 3px;
}

    .CssFile_Upload:hover {
        font-size: 10pt;
        border: solid 0px #9BD0E9 !important;
        border-bottom: solid 2px #9BD0E9 !important;
        height: 30px;
        color: #F6978A;
        text-decoration: none;
        cursor: pointer;
        background-color: #FAAAFF;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }


