.btn {
    border-radius: 0px;
}

.CssBtnSearch {
    font-size: 10pt;
    border: none;
    height: 30px;
    width: 40px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: #a5c8e5 url(../Images/search.png) no-repeat scroll 5px center;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    border-radius: 3px;
}

    .CssBtnSearch:hover {
        width: 40px;
        font-size: 10pt;
        border: none;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf url(../Images/search.png) no-repeat scroll 5px center;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }

    
.CssBtnAdvancedSearch {
    font-size: 10pt;
    border: none;
    height: 30px;    
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: #BDDAEA url(../Images/search.png) no-repeat scroll 5px center;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    border-radius: 3px;
}

    .CssBtnAdvancedSearch:hover {
        
        font-size: 10pt;
        border: none;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf url(../Images/search.png) no-repeat scroll 5px center;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }

.CssBtnShowAll {
    font-size: 10pt;
    border: none;
    height: 30px;
    width: 98px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: navy url(../Images/showall.png) no-repeat scroll 5px center;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

    .CssBtnShowAll:hover {
        border: none;
        width: 98px;
        font-size: 10pt;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf url(../Images/showall.png) no-repeat scroll 5px center;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    }

.CssBtnRegular {
    border: none;
    width: 98px;
    font-size: 10pt;
    height: 30px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: green url(../Images/addnew.png) no-repeat scroll 5px center;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

    .CssBtnRegular:hover {
        border: none;
        width: 98px;
        font-size: 10pt;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf url(../Images/addnew.png) no-repeat scroll 5px center;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    }


.CssBtnShowAllCol {
    width: 98px;
    font-size: 10pt;
    height: 30px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: url(Images/showall.png) no-repeat scroll 5px center;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

    .CssBtnShowAllCol:hover {
        width: 98px;
        font-size: 10pt;
        border: none;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    }


.CssBtnSave {
    background-color: #2777B7;
    border: 1px solid #2777B7;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
    border-radius: 3px;
    color: white;
    height: 30px;
    text-decoration: none;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

    .CssBtnSave:hover {
        width: auto;
        font-size: 10pt;
        border: none;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }

    
.CssBtnSubmit {
    background-color: #2777B9;
    border: 1px solid #2777B7;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
    border-radius: 3px;
    color: white;
    height: 30px;
    text-decoration: none;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

    .CssBtnSubmit:hover {
        width: auto;
        font-size: 10pt;
        border: none;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e73bf;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }

       
.CssBtnPost {
    background-color: #2777B7;
    border: 1px solid #2777B7;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
    border-radius: 3px;
    color: white;
    height: 30px;
    text-decoration: none;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

    .CssBtnPost:hover {
        width: auto;
        font-size: 10pt;
        border: none;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e53bf;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }


.CssBtnClear {
    background-color: #aaa;
    width: 98px;
    font-size: 10pt;
    border: none;
    height: 30px;
    /*color:#fff;*/
    color: black;
    text-decoration: none;
    cursor: pointer;
    /*background:blue;*/
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    border-radius: 3px;
}

    .CssBtnClear:hover {
        width: 98px;
        font-size: 10pt;
        border: none;
        height: 30px;
        color: white;
        text-decoration: none;
        cursor: pointer;
        background: green;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }


.CssBtnUpdate {
    background-color: green;
    width: 98px;
    font-size: 10pt;
    border: none;
    height: 30px;
    /*color:#fff;*/
    color: black;
    text-decoration: none;
    cursor: pointer;
    /*background:blue;*/
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    border-radius: 3px;
}

    .CssBtnUpdate:hover {
        width: 98px;
        font-size: 10pt;
        border: none;
        height: 30px;
        color: white;
        text-decoration: none;
        cursor: pointer;
        background: green;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }



.CssBtnSaveMore {
    width: 98px;
    font-size: 10pt;
    border: none;
    height: 30px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: #3e93bf;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

    .CssBtnSaveMore:hover {
        width: 98px;
        font-size: 10pt;
        border: none;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    }

.CssBtnDelete {
    width: 98px;
    font-size: 10pt;
    border: none;
    height: 30px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    background: #3e93bf;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    border-radius: 3px;
}

    .CssBtnDelete:hover {
        width: 98px;
        font-size: 10pt;
        border: none;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }

.CssBtnAddNew {
    
    font-size: 10pt;
    border: none;
    height: 30px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    background: blue;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    border-radius: 3px;
}

    .CssBtnAddNew:hover {
        
        font-size: 10pt;
        border: none;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }

.CssBtnAddMore {
    width: 98px;
    font-size: 10pt;
    border: none;
    height: 30px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    background: Gray;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

    .CssBtnAddMore:hover {
        width: 98px;
        font-size: 10pt;
        border: none;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    }

.CssBtnConfirm {
    width: 98px;
    font-size: 10pt;
    border: none;
    height: 30px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    background: green;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    border-radius: 3px;
}

    .CssBtnConfirm:hover {
        width: 98px;
        font-size: 10pt;
        border: none;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }



.CssBtnPrintAll {
    font-size: 10pt;
    border: None;
    background-color: #BDDAEA;
    color: #fff;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    height: 30px;
    cursor: pointer;
    margin-left: 0px;
    width: 98px;
}

    .CssBtnPrintAll:hover {
        width: 98px;
        font-size: 10pt;
        border: none;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    }

.CssBtnCancel {
    font-size: 10pt;
    border: None;
    background-color: #aaa;
    color: #fff;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    height: 30px;
    cursor: pointer;
    margin-left: 0px;
    width: 98px;
    border-radius: 3px;
}

    .CssBtnCancel:hover {
        width: 98px;
        font-size: 10pt;
        border: none;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }


.CssBtnPrint {
    width: 98px;
    font-size: 10pt;
    border: none;
    height: 30px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: red url(../Images/print.png) no-repeat scroll 5px center;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    border-radius: 3px;
}

    .CssBtnPrint:hover {
        width: 98px;
        font-size: 10pt;
        border: none;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf url(../Images/print.png) no-repeat scroll 5px center;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }

.CssBtnPrintAll {
    width: 98px;
    font-size: 10pt;
    border: none;
    height: 30px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: gray url(../Images/print.png) no-repeat scroll 5px center;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

    .CssBtnPrintAll:hover {
        width: 98px;
        font-size: 10pt;
        border: none;
        height: 30px;
        color: gray;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf url(../Images/print.png) no-repeat scroll 5px center;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    }


.CssBtnShow {
    width: 98px;
    font-size: 10pt;
    border: none;
    height: 30px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: skyblue;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    border-radius: 3px;
}

    .CssBtnShow:hover {
        width: 98px;
        font-size: 10pt;
        border: none;
        height: 30px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: #3e93bf;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
        border-radius: 3px;
    }


.CssFile_Upload {
    height: 32px;
    background-color: #BDDAEA;
}
.cssCheckBox 
{
    font-family: 'Lao UI';
    font-size:12pt;
    font-weight: normal;
    text-align: Left;
    color:gray;   
    display:ruby;
    border-style:none;
   
   
}

.cssCheckListBox 
{
    font-family: 'Lao UI';
    font-size:12pt;
    font-weight: normal;
    text-align: Left;
    color:gray;   
    display:ruby;
    border-style:none;
    text-indent:15px;
   
}


