/* TAB menu   
----------------------------------------------------------*/

div.hideSkiplink
{    
    background-color:#611088;
    width:100%;
    height:40px;
    vertical-align:middle;
}

div.menu
{
    padding: 0px 0px 0px 0px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    height:15px;
    background-color:#3e93bf;
    /*background-color:#F1F1F1;*/
    text-align:left;
    color:white;
    
}

div.menu ul li a, div.menu ul li a:visited
{   
    background-color: #3e93bf;    
    border: 0px white solid;   
    font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
    font-size: 1.0em;
    display: block;
    line-height: 1.3em;
    padding: 8px 20px;
    text-decoration:none;
    white-space: nowrap;
    height:15px;
    color:white;
       
}

div.menu ul li a:hover
{
    text-decoration: none;
    height:15px;
    background-color: #D9D9D9;
    transition: background-color 0s ease 0s;
    text-align:left;
    color:black;
    
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}



