.labelasHeader {
    display: block;
    font-size: 1.0em;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #0ff;
}

.labelasHeader2 {
    font-size: 1.0em;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.logoutHover {
    /*color: black !important;*/
    color: #7ac0da !important;
    font-size: 1.2em;
}

    .logoutHover:hover {
        color: #7ac0da !important;
        font-size: 1.2em;
        border-bottom: solid;
        border-bottom-color: #7ac0da;
        border-bottom-width: 1px;
    }

.nextHover {

    background-color: #297BC1;
    color: white !important;
    font-size: 1.0em;
    padding-top:3px;
    padding-bottom:4px;
    border-bottom: 4px solid #297BC1;
    border-radius: 4px;    
    text-align:center;
}

    .nextHover:hover {
        background-color: #72D1FE;
        color: white !important;
        padding-top:3px;
        padding-bottom:4px;
        border-radius: 4px;
        font-size: 1.0em;
        border-bottom: 4px solid #72D1FE;
        border-bottom-color: #72D1FE;
        border-bottom-width: 4px;        
        text-align:center;
    }
