.labelasHeader {
    display: block;
    font-size: 1.0em;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #0ff;
}

.labelasHeader2 {
    font-size: 1.0em;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.logoutHover {
    color: black !important;
    font-size: 1.1em;
}

    .logoutHover:hover {
        color: black !important;
        font-size: 1.1em;
        border-bottom: solid;
        border-bottom-color: black;
        border-bottom-width: 1px;
    }

.nextHover {
    background-color: blue;
    color: white !important;
    font-size: 1.0em;
    padding-top:3px;
    padding-bottom:4px;
    border-bottom: 4px solid blue;
    border-radius: 4px;    
    text-align:center;
}

    .nextHover:hover {
        /*background-color: #1F1F1F;*/
        background-color: blue;
        color: white !important;
        padding-top:3px;
        padding-bottom:4px;
        border-radius: 4px;
        font-size: 1.0em;
        border-bottom: 4px solid blue;
        border-bottom-color: blue;
        border-bottom-width: 4px;        
        text-align:center;
    }
