.labelasHeader {
    display: block;
    font-size: 1.0em;
    font-weight: 700;
    padding-top:5px;
    padding-bottom:5px;
    background-color:#0ff;
}

.labelasHeader2 {
    
    font-size: 1.0em;
    font-weight: bold;
    padding-top:5px;
    padding-bottom:5px;  
      
}